*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.container{
    width: 300px;
    border: 2px solid black;
    margin: 30px auto;
    padding: 10px;
}

.header, .sidebar, .content,.footer{
    width: 100%;
    border: 2px solid black;
    padding: 5px;
}
.body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header{
    margin-bottom: 10px;
}
.sidebar, .content{
    padding: 20px 0;
}
.sidebar{
    width: 20%;
}
.content{
    width: 77%;
}